<!DOCTYPE html>

<html>

<head>
  <title>RamenRate</title>
</head>

<body>

  <div class = "jumbotron">
    <h1>Welcome to RamenRate</h1>
    <p class = "lead">A website dedicated to showing you the <b>best</b> instant ramen noodles!</p>
  </div>

</body>


</html>
