<!DOCTYPE html>

<html>

<head>
  <title>RamenRate</title>
</head>



<body>

  <div class = "jumbotron">
    <h1>Welcome to RamenRate</h1>
    <p class = "lead">A website dedicated to showing you the <b>best</b> instant ramen noodles!</p>
  </div>

  <div class = "container">

    <% if current_user %>
      <% if current_user.isadmin? %>
        <div class = "alert alert-danger">You are currently signed in as a user with <b>administrator rights</b>. Visit the administrator dashboard <a href = "/admindash">here</a>.</div>
      <% end %>
      <div class = "col-xs-10 col-xs-offset-2"><%= "Logged in as user: #{current_user.email}" %> | <%= link_to 'Log Out', logout_path, :class => "btn btn-danger" %> <b>(logging out will clear your cart)</b></div>
    <% else %>
      <div class = "align-left"><b>You are not currently signed in.</b> Sign in to fully utilise RamenRate | <%= link_to 'Sign in', login_path, :class => "btn btn-primary"%></div>
    <% end %>
    <hr class = "featurette">

    <!-- cool carousel taken from https://bootsnipp.com/snippets/0eWmj -->

    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Ramen Warriors</h3>
                    <p>"Ramen is my favourite bowl. I love it so much. Especially the Pot Noodles I got from ASDA" - <i>Sun Tzu "The Art of War"</i></p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                    <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Inspiration</h3>
                    <p>"Life is like a bowl of ramen. The noodles are the events that come and go and the broth is your friends. Don't slurp too quickly!" - <i>Anonymous</i></p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Happiness</h3>
                    <p>"They say people live to be happy. When you eat a bowl of ramen when you're really hungry, that is true happiness." - <i>Barack Obama</i></p>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>

    <hr>

    <p>Ramen (/ˈrɑːmən/) (拉麺, ラーメン rāmen, IPA: [ɾaꜜːmeɴ]) is a Japanese dish with a translation of "pulled noodles". It consists of Chinese wheat noodles served in a meat or (occasionally) fish-based broth, often flavored with soy sauce or miso, and uses toppings such as sliced pork (叉焼 chāshū), nori (dried seaweed), menma, and scallions. Nearly every region in Japan has its own variation of ramen, such as the tonkotsu (pork bone broth) ramen of Kyushu and the miso ramen of Hokkaido. Mazemen is the name of a Ramen dish that is not served in a soup, but rather with a sauce (such as tare), rather like noodles that is served with a sweet and sour sauce.</p>
    <p>(Wikipedia.org/wiki/Ramen) December 2019</p>

    <h1>Features</h1>
    <p class = "lead">Here are some of the features included in this website.</p>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">All the instant noodles!</h5>
        <p class="card-text">RamenRate has a whole directory of instant noodles from around the world. Click the button to see our colletion!</p>
        <a href="/ramen" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">User Login</h5>
        <p class="card-text">Yes that's right, you can log in as a normal user that can potentially have admin powers!</p>
      </div>
    </div>
  </div>
</div>

</body>


</html>
