<% if current_user.isadmin? %>
<div class = "jumbotron">
  <h1>Administrator Dashboard</h1>
</div>
<div class = "container">

  <div class = "row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Users Table</h5>
        <p class="card-text">View/Edit the users of RamenRate.</p>
        <a href="/users" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ramen Table</h5>
        <p class="card-text">View/Edit the content of the Ramen table.</p>
        <a href="/ramen" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
  </div>

  <hr class = "featurette">

<% else %>
<p> You must be an administrator to view this page. </p>
<% end %>
