<% if not current_user %>
<div class = "container">

<h1>Create a RamenRate Account</h1>

<hr class = "featurette">

<%= render 'form', user: @user %>

<% else %>
You are already logged in. Log out to make another account.
<% end %>
